/**********************************
COLOR SCHEME

Navy Blue        #16193b
Medium Blue      #3547bc
Sky Blue         #4e7ac7
Lt. Sky Blue     #7fb2f0
Lt. Blue         #add5f7 rgb(173, 213, 247)
Orange           #FF9440

***********************************/

/**********************************
GENERAL
***********************************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Jacques Francois', serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.33rem;
  margin: 0 0 1em 0;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  background: rgba(173, 213, 247, 0.35);
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.66);
  border: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  height: auto;
  margin: 5px 0 0 0;
  outline: 1px solid rgba(173, 213, 247, 1.0);
  padding: 10px;
  width: 95%;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

fieldset {
  padding-bottom: 0;
  font-weight: bold;
  border: 2px solid rgba(173, 213, 247, 1.0);
  border-radius: 5px 5px 0 0;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4e7ac7;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  width: 99%;
  border: none;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
}



/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 6% 0;
  width: 100%;
}

header img {
  width: 40px;
  margin-right: 10px;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  margin: 15px 0;
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.0em;
  webkit-animation: .5s .25s fade backwards ease-out;
  animation: .5s .25s fade backwards ease-out;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0.3em;
  word-spacing: 0.5em;
  font-weight: normal;
  margin: 1.3em 0;
  color: #808080;
  -webkit-animation: .5s .5s fade backwards ease-out;
  animation: .5s .5s fade backwards ease-out;
}




/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 12px 0;
  margin: 0 0;
  font-size: 0.9rem;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding: 15px 6px;
}



/**********************************
FOOTER
***********************************/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 30px;
  color: #ccc; 
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.2%;
  background-color: #add5f7;
  color: #bdc3c7;
  border: 1px solid #7fb2f0;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.65em;
}


/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-form ul{
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

/*.contact-info li.phone a {
  background-image: url('../img/phone.png');
  }*/

.contact-info li.mail a {
  background-image: url('../img/mail.png');
  }

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
  }

.contact-info li.location a {
  background-image: url('../img/location.png');
  }

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #16193b;
}

/* blue header */
header {
  background: #7fb2f0;
    border-color: #3547bc;
}

/* nav background on mobile */
nav {
  background: #4e7ac7;
}

/* logo text */
h1 {
  color: #fff;
}

/* links */
a {
  color: #4e7ac7;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link color */
nav a.selected, nav a:hover {
  color: #16193b;
}

/**********************************
FEEDBACK
***********************************/

#feedback {
  padding: 0px 50px 0;
  color: #fff;
  height: 100px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  transform: translateY(-100px);
  font-size: 1.2em;
  font-family: 'Quicksand';
}

#feedback div {
  padding-top: 30px;
}

#feedback.success {
  transform: translateY(-100px);
  background: #4e7ac7;
  -webkit-animation: feedback-in .5s ease-in-out forwards, feedback-out .5s ease-in-out 4s forwards;
  -moz-animation:    feedback-in .5s ease-in-out forwards, feedback-out .5s ease-in-out 4s forwards;
  animation:         feedback-in .5s ease-in-out forwards, feedback-out .5s ease-in-out 4s forwards;
}

#feedback.fail {
  transform: translateY(-100px);
  background: #ff0c73;
  -webkit-animation: feedback-in .5s ease-in-out forwards;
  -moz-animation:    feedback-in .5s ease-in-out forwards;
  animation:         feedback-in .5s ease-in-out forwards;
}

#feedback.dismissed {
  transform: translateY(0);
  -webkit-animation: feedback-out .5s ease-in-out forwards;
  -moz-animation:    feedback-out .5s ease-in-out forwards;
  animation:         feedback-out .5s ease-in-out forwards;
}

#feedback h3 {
  margin: 18px 0 3px;
}

#feedback p {
  margin: 0;
  font-size: 14px;
  opacity: .7;
}

.dismiss {
  float: right;
  padding: 30px 0;
  opacity: .7;
  cursor: pointer;
}

.dismiss:hover {
  opacity: 1;
  text-decoration: none;
}

/*
ANIMATION
*/

@-webkit-keyframes feedback-in {
  0%   {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(0px);
    padding-top: 5px;
  }
  100% {
    transform: translateY(0);
    padding-top: 0;
  }
}
@-moz-keyframes feedback-in {
  0%   {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(0);
    padding-top: 5px;
  }
  100% {
    transform: translateY(0);
    padding-top: 0;
  }
}
@keyframes feedback-in {
  0%   {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(0);
    padding-top: 5px;
  }
  100% {
    transform: translateY(0);
    padding-top: 0;
  }
}

/* out*/

@-webkit-keyframes feedback-out {
  0%   {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0px);
    padding-top: 5px;
  }
  100% {
    transform: translateY(-100px);
  }
}
@-moz-keyframes feedback-out {
  0%   {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0px);
    padding-top: 5px;
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes feedback-out {
  0%   {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0px);
    padding-top: 5px;
  }
  100% {
    transform: translateY(-100px);
  }
}

/* Logo*/

@-webkit-keyframes fade{
  from {
    transform: translateY(.25em);
    opacity: 0;
  }
}

@keyframes fade{
  from {
    transform: translateY(.25em);
    opacity: 0;
  }
}















*/