@media screen and (min-width: 480px){

  nav a {
  font-weight: 800;
  font-size: 1.1rem;
  }

  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  #primary {
    width: 33%;
    float: left;      
  }
  
  #secondary {
    width: 55%;
    float: right;
  }
  
  /**********************************
  THREE COLUMN LAYOUT - PAGE: PORTFOLIO
  ***********************************/
  
  #gallery li {
    width: 28.3333%
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }
  
  /**********************************
  TWO COLUMN LAYOUT - PAGE: ABOUT
  ***********************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 40px 0;
  }
  
}

@media screen and (min-width: 840px){
  /**********************************
  HEADER
  ***********************************/
  
  nav a {
    font-size: 1.6em;
  }

  header img {
    width: 53px;
    margin-right: 10px;
  }

  
  h1 {
    font-size: 4.7em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  header {
    margin-bottom: 60px;
    padding: 10% 0;
  }    
}

@media screen and (max-width: 365px) {
  #gallery li {
    clear: both;
    width: 95%;
    margin: 2.5%;
  }
}