{% extends 'main.twig' %}

{% block content %}

      <section>
        <img src="img/florie.jpg" alt="photo of Florie Coggins" class="profile-photo">
        <h3>About</h3>
        <p>Software engineer with experience in development including lead generation, client       relations, implementation of technical solutions, website SEO and marketing.</p>
        <p>Actively seeking full-stack engineering opportunities.</p>
        <ul>
          <li>Languages: Python, JavaScript, PHP, HTML5, CSS</li>
          <li>Frameworks/Libraries: Flask, JQuery, JQueryUI, Drupal, WordPress, Magento</li>
          <li>Databases/ORM: SQL, MySQL, PostgreSQL, SQLAlchemy</li>
          <li>Tools: Git/Github, Heroku, REST API's, AJAX, JSON, Agile software development, Google Analytics</li>
        </ul>
      </section>

{% endblock content %}