{% extends 'main.twig' %}

{% block p_selected %}class="selected"{% endblock p_selected %}

{% block content %}

      <section>
        <ul id="gallery">
          <li>
            <a href="http://tspapp.herokuapp.com/" target="_blank">
              <img src="img/tsp.png" alt="">
              <h5>The Travelling Saleswoman</h5>
            </a>
          </li>
          <li>
            <a href="http://mommybracelets.com/builder" target="_blank">
              <img src="img/braceletbuilder.png" alt="">
              <h5>Bracelet Builder</h5>
            </a>
          </li>
          <li>
            <a href="http://www.mommybracelets.com/" target="_blank">
              <img src="img/mommybracelets.png" alt="">
              <h5>MommyBracelets</h5>
            </a>
          </li>
          <li>
            <a href="http://townefitnessclub.com/" target="_blank">
              <img src="img/townefitness.png" alt="">
              <h5>Towne Fitness Club</h5>
            </a>
          </li>
          <li>
            <a href="http://academicsplusatl.com/" target="_blank">
              <img src="img/academicsplus.png" alt="">
              <h5>Academics Plus Atlanta</h5>
            </a>
          </li>
          <li>
            <a href="/pig/" target="_blank">
              <img src="img/pig.png" alt="">
              <h5>Javascript Dice Game</h5>
            </a>
          </li>
        </ul>
      </section>

{% endblock content %}
 