{% extends 'main.twig' %}

{% block p_selected %}class="selected"{% endblock p_selected %}

{% block content %}

      <section>
        <ul id="gallery">
          <li>
            <a href="http://tspapp.herokuapp.com/" target="_blank">
              <img src="img/tsp.png" alt="">
              <p>The Travelling Saleswoman</p>
            </a>
          </li>
          <li>
            <a href="http://mommybracelets.com/builder" target="_blank">
              <img src="img/braceletbuilder.png" alt="">
              <p>Bracelet Builder</p>
            </a>
          </li>
          <li>
            <a href="http://www.mommybracelets.com/" target="_blank">
              <img src="img/mommybracelets.png" alt="">
              <p>MommyBracelets</p>
            </a>
          </li>
          <li>
            <a href="http://townefitnessclub.com/" target="_blank">
              <img src="img/townefitness.png" alt="">
              <p>Towne Fitness Club</p>
            </a>
          </li>
          <li>
            <a href="http://academicsplusatl.com/" target="_blank">
              <img src="img/academicsplus.png" alt="">
              <p>Academics Plus Atlanta</p>
            </a>
          </li>
          <li>
            <a href="/pig/" target="_blank">
              <img src="img/pig.png" alt="">
              <p>Javascript Dice Game</p>
            </a>
          </li>
        </ul>
      </section>

{% endblock content %}
 