{% extends 'main.twig' %}

{% block photos_selected %}class="selected"{% endblock photos_selected %}

{% block content %}
  
      <section>
        <ul id="gallery">
          <li>
            <a href="img/bird.jpg">
              <img src="img/bird.jpg" alt="">
              <p>Blue Heron on a foggy morning</p>
            </a>
          </li>
          <li>
            <a href="img/glowing_tree.jpg">
              <img src="img/glowing_tree.jpg" alt="">
              <p>Cottonwood in Paria Canyon</p>
            </a>
          </li>
          <li>
            <a href="img/rain.jpg">
              <img src="img/rain.jpg" alt="">
              <p>Rainy Morning</p>
            </a>
          </li>
          <!--<li>
            <a href="img/townefitness.png">
              <img src="img/townefitness.png" alt="">
              <p>Towne Fitness Club</p>
            </a>
          </li>-->
        </ul>
      </section>

{% endblock content %}